label {
  display: block;
  margin-top: 10px;
}

.login-form,
.signup-form {
  max-width: 350px;
  margin: auto;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* appheader checkout button */
.groupText {
  flex: 1;
  margin-left: 12px;
}

.nameDisplay {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.desc {
  font-size: 12px;
  color: #A1A1A1;
  margin-top: 4px;
}

.checkoutButton {
  position: relative;
}

.badge {
  position: absolute;
  background-color: red;
  aspect-ratio: 1;
  width: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -5px;
  top: -5px;
}

.badgeText {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}
/* end of cart appheader checkout btn */